@use "../abstracts/variables" as *;
body {
  font-family: $font-body;
  background: $black;
  color: $text-primary;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: $font-heading;
  letter-spacing: 1px;
}

.script {
  font-family: $font-script;
}
